{% extends "main.html" %}

{% block content %}
<div class="album py-5">
    <div class="container">
        <div class="row justify-between row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3">

        {% for prod in orders  %}
        <div class="col d-flex justify-content-center ">
            <div class="card shadow-sm" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{prod.products.name}}</h5>
                  <h6 class="line-clamp">Price: {{prod.products.price}} Rs</h6>
                  <hr />
                  <p class="card-text">{{prod.products.description}}</p>
                  <hr />
                  <p class="card-text">{{prod.category}}</p>
                  <hr />
                  <p class="card-text">Your order will be delivered in 7 days.</p>
                  <a href="{% url "cancel-order" prod.products.id %}" class="btn btn-outline-success ">Cancel Order</a>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}